[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
numpy = "*"
pyedflib = "*"
pandas = "<1"
openpyxl = "*"
pylsl = "*"
mne = "*"

[dev-packages]

[requires]
python_version = "3.6"
